body {
    background-color: #00cae4;
}

header {
	width:90%;
	background-color: #00aaaa;
	padding: 10px;
	margin:auto;
}

.description {
	background-color: #00aa88;
	padding: 10px;
	margin-left:5%;
	margin-right:25%;
	margin-top:5%;
	margin-bottom:5%;
}
.description img{
	width: 90%;
	height: auto;
	margin:auto;
}

.sidebar-list {
	float: right;
	width: 15%;
	height:100%;
	padding: 10px;
	margin-right:5%;
	margin-top:5%;
	margin-bottom:5%;
	background-color: #00aaaa;
}
.sidebar-list-item {
	display:inline-block;
	width:100%;
	padding:2px;
	margin:0px;
	font-family:calibri;
	font-size:22px;
	color: #001111;
	transition: transform 0.5s;
}
.sidebar-list-item:hover {
	font-size:28px
	color: #00ffff;
	background-color:#005555;	
}

footer {
	width:90%;
	padding: 10px;
	margin:auto;
	background-color: #00aaaa;
}

.social-link img{
	height: 100px;
	width:100px;
}
